{% extends 'account/base2.html' %}
{% load crispy_forms_tags %}
{% block title %}Crossing the Gap: Password Reset{% endblock %}
{% block body %}
    <!-- Content -->
    <div class="page-content">
        <!-- inner page banner -->
        <div class="dez-bnr-inr overlay-black-middle" style="background-image:url(images/banner/bnr1.jpg);">
            <div class="container">
                <div class="breadcrumb-row">
                    <h1 class="text-white">Password Reset</h1>
                    <ul class="list-inline text-white m-b30">
                        <li><a href="{% url 'account:index' %}">Home</a></li>
                        <li>Password Reset</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- inner page banner END -->
        <!-- contact area -->
        <div class="section-full content-inner">
            <div class="container">
                <div class="row">
                    <!-- Left part start -->
                    <div class="col-12 mx-auto">
                        <div class="p-a30 bg-white clearfix m-b30">
                            <p>< <a href="{% url 'auth_login' %}">Back</a></p>
                            <form method="post" class="dzForm" action="">
                                {% csrf_token %}
                                <fieldset class="form-group">
                                    <legend class="border-bottom mb-4">Reset Password</legend>
                                </fieldset>
                                {{ form|crispy }}
                                <div class="form-group">
                                    By Clicking "Reset Password" you are agreeing to the <a href="#">Terms of Use</a>
                                    <button class="site-button bg-primary pull-right m-t15" type="submit">Reset Password
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- Left part END -->
                </div>
            </div>
        </div>
        <!-- contact area  END -->
    </div>
    <!-- Content END-->
{% endblock %}