{% extends 'account/base2.html' %}
{% load crispy_forms_tags %}
{% block title %}TRTraining: Password Reset{% endblock %}
{% block body %}
    <div class="container align-items-center my-2">
        <div class="content-section">
            <form method="post">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Resend Activation</legend>
                </fieldset>
                {{ form|crispy }}
                <div class="form-group">
                    <button class="button button-lg button-primary button-block" type="submit">Resend Activation</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}