{% extends 'account/base2.html' %}
{% load crispy_forms_tags %}
{% block body %}
    {% include 'account/breadcrumbs.html' %}
    <section class="section novi-background section-50">
        <div class="container">
            <h1>{{ section_title }}</h1>
            <hr class="divider bg-mantis">
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <a class="btn btn-outline-dark ml-3" href="{% url cancel %}">Cancel</a>
                <button class="btn btn-block" type="submit">Submit</button>
            </form>
        </div>
    </section>
{% endblock %}